/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

img, picture, video, canvas {
    display:block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

*::before, *::after {
    box-sizing: inherit;
}

/*Banner Styling*/

.header-container {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.header-container {
    width: 100%;
    height: auto;
}

.site-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
